@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-mono: "IBM Plex Mono", monospace;
    --color-color-text1-light: oklch(13% 0.028 261.692);
    --color-color-text1-dark: oklch(98.7% 0.022 95.277);

    --color-color-bg1-light: oklch(97% 0.001 106.424);
    --color-color-bg1-dark: oklch(26.9% 0 0);
    --color-color-bg2-light: oklch(92.3% 0.003 48.717);
    --color-color-bg2-dark: oklch(37.4% 0.01 67.558);
    --color-color-bg3-light: oklch(86.9% 0.005 56.366);
    --color-color-bg3-dark: oklch(44.4% 0.011 73.639);
}

body {
    @apply bg-color-bg1-light dark:bg-color-bg1-dark font-normal text-xl font-mono text-color-text1-light dark:text-color-text1-dark;
}

h1 {
    @apply font-semibold text-4xl font-mono pb-3 text-color-text1-light dark:text-color-text1-dark;
}

h2 {
    @apply font-medium text-2xl font-mono pb-2 text-color-text1-light dark:text-color-text1-dark;
}

p {
    @apply font-normal text-xl font-mono pb-1 text-color-text1-light dark:text-color-text1-dark;
}
